body {
  margin: 0px;
}
#box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: aqua;
  padding: 5px;
}
#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: yellow;
  padding: 5px;
}
